<p id="notice"><%= notice %></p>

<br>

<h3 class="landing-head">Welcome to E-RxMeds</h3>

<br><br>

<div id="home-box">
  <div id="home-box-text">
    <p> E-RxMeds is a nationwide drug monitoring program that allows licensed pharmacists to have access to a complete patient medication profile.</p>
  </div>
</div>

<br><br>

<div class="patient-warning">
  <div class="patient-warning-text">
    <p>Warning: By searching this database, you authorize you have the necessary permission and credentials to access this information.</p>
  </div>
</div>