<p id="notice"><%= notice %></p>

<br>

<h3 class="subject-head">Welcome to E-RxMeds</h3>

<br><br>

<div id="home-box">
  <div id="home-box-text">
    <p> insert home page description </p>
  </div>
</div>