<div class="edit-body">
  <h1 class="edit-head">Editing Patient</h1>

  <%= render 'form' %>

  <button type="button" class="btn btn-secondary" class="edit-patient-btn"><%= link_to 'Show', @patient %></button> |
  <button type="button" class="btn btn-secondary" class="edit-patient-btn"><%= link_to 'Back', :back %></button>
</div>