/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*Body*/

body {
  padding-left: 200px;
  padding-top: 100px;
}

.form-submit-button {
  background: none !important;
}


.subject-head {
  margin-left: 40px;
  font-weight: 700;
  font-family: Georgia, serif;
}

.edit-head {
  font-weight: 700;
  font-family: Georgia, serif;
}

.btn:hover {
 background-color: white !important;
 text-decoration: none !important;
}

.btn-info {
  float: right;
  background-color: #adc2eb !important;
  border-color: #adc2eb !important;
  color: #2C2F30 !important;
}

.btn-info:hover {
  background-color: #D5DFF2 !important;
  border-color: #D5DFF2 !important;  
  color: white !important;
}

.btn-info a, .btn-info a:hover {
  text-decoration: none !important;
  background-color: inherit !important;
  border-color: #adc2eb !important;
  color: inherit !important;
}

.edit-body {
  text-align: center;
  width: 100%;
}

.address-field {
}

/*Header*/

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color:  #9AACB3;
}

#pharm-logo {
  top: 10px;
  width: 140px;
  height: 140px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  float: right;
  background-image: url("/assets/nationalpharm.png");
  margin-right: 50px;
  z-index: 1;
}

.pharm-title {
  position: relative;
  float: left;
}

.pharm-title a:hover {
  text-decoration: none;
}

.pharm-title h1 {
  margin: 20px 0 0 10px;
  font-size: 54px;
  font-weight: 200;
  font-family: Georgia, serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.pharm-title h2 {
  margin: 40px 0 0 130px;
  color: #2C2F30;
  font-family: Georgia, serif;
  /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}


/*Navigation Menu*/


#sidebar-wrapper {
  top: 100px;
  left: -200px;
  width: 200px;
  background-color:  #adc2eb;
  color: #2C2F30;
  position: fixed;
  height: 100%;
  z-index: 1;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 200px;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 50px;
}
.sidebar-nav li a {
  color: #2C2F30;
  font-weight: bold;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  background: rgba(255,255,255,0.25);
  color: white;
  text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -200px;
}
@media (min-width: 768px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 200px;
  }
}


/*
##############
    LANDING
##############
*/

#home-box {
  width: 100%;
  text-align: center;
}


#home-box-text {
  margin: 0 auto;
  width: 820px;
  height: 200px;
  border-radius: 4px;
  background-color: #CCE1E8;
}

#home-box-text p {
  margin: auto;
  vertical-align: middle;
  color: #2C2F30;
  padding-top: 3em;
  padding-right: 2em;
  padding-left: 2em;
  font-size: 20px;
  line-height: 1.5em;
}

.landing-head {
  text-align: center;
  font-weight: 700;
  font-family: Georgia, serif;
}


/*
##############
    PATIENT INDEX SEARCH PAGE
##############
*/

#search-name {
  margin-left: 40px;
  width: 200px;
  border-radius: 4px;
  height: 2.4em;
}

#search-dob {
  border-radius: 4px;
  height: 2.4em;
}

.patient-warning {
  /*display: table;*/
  width: 100%;
  text-align: center;
}

.patient-warning-text {
  /*display: table-cell;*/
  /*vertical-align: middle;*/
  margin: 0 auto;
  width: 585px;
  padding-top: 0.7em;
  padding-bottom: 0.3em;
  padding-left: 4em;
  padding-right: 4em;
  border-radius: 4px;
  border: solid #CCE1E8;
  border-width: 4px;
  /*background-color: #F5F5F5;*/
}

.patient-warning-text p {
  color:  #e60000;
  font-size: 18px;
}

#no-search-results {
  margin-left: 40px;
}

/*
##############
    PATIENT
##############
*/

/*Patient Info*/

#patient-info {
  width: 100%;
  height: 100px;
  background-color: #E3E3E3;
  border: 1px solid;
  border-left: none;
  border-right: none;
  display: table;
}

#patient-info-info {
  display: table-cell;
  vertical-align: middle
}

.patient-data {
;
  padding-left: 60px;
  float: left;
}

.patient-data p {
  font-size: 16px;
}

.patient-data p strong {
  font-weight: 600;
}

#edit-patient {
  margin-top: -40px;
  margin-bottom: 20px;
  margin-right: 25%;
  width: 180px;
}

.edit-patient-btn a:hover {
  text-decoration: none !important;
  background-color: none !important;  
}

/*Patient History Table*/

#history-form {
  width: 100%;
  display: table;
}

.history-form {
  display: table-cell;
  vertical-align: middle;
}

#add-prescription {
  margin-top: -40px !important;
}

#add-prescription2 {
  margin-top: -30px !important;
  margin-right: 25%;
  width: 180px;
}

.form-group {
  margin-top: -40px !important;
  margin-right: 25% !important;
  margin-bottom: 20px !important;
  margin-left: 10px;
}

.form-group .search {
  width: 180px !important;
}

.table {
  width: 95% !important;
  margin: 0 auto !important;
}

.counter {
  margin-top: -40px !important;
  margin-right: 20% !important;
}

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:4px; 
  color:#ccc;
}

.empty {
  width: 12em;
}


