<!DOCTYPE html>
<html>
<head>
  <title>Florida Prescription Medication Database</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="/application.js"></script>

</head>
<body>

<div class="main-header">
  <span class="pharm-title">
    <h1>E-RxMEDS</h1>
  </span>
  <span class="pharm-title">
    <h2>Florida Prescription Medication Database</h2>
  </span>
  <span id="pharm-logo">
  </span>
</div>

  <div class="container">
    <div class="navbar-header">
      <a id="menu-toggle" href="#" class="navbar-toggle">
          <!-- <span class="sr-only">Toggle navigation</span> -->
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
      </a>
        <!-- <a class="navbar-brand" href="home.xhtml">
          logo
        </a> -->
    </div>
    <div id="sidebar-wrapper" class="sidebar-toggle">
      <ul class="sidebar-nav">
          <li>
              <a href="#item1">Home</a>
          </li>
          <li>
              <a href="#item2">Patient Search</a>
          </li>
          <li>
              <a href="#item3">Search History</a>
          </li>
          <li>
              <a href="#item3">Provider Lookup</a>
          </li>
          <li>
              <a href="#item3">Pharmacy Lookup</a>
          </li>
          <li>
              <a href="#item3">Settings</a>
          </li>
        </ul>
    </div>
    </div>

<%= yield %>

</body>
</html>
